{
    "projects": [
        {
            "name": "fig",
            "path": "\/Users\/ashur\/Developer\/cli-fig",
            "enabled": false,
            "updated": 1471975606
        },
        {
            "name": "coda\/qa",
            "path": "\/Users\/ashur\/QA\/mac-coda",
            "enabled": true,
            "updated": 1478802914
        },
        {
            "name": "coda\/src",
            "path": "\/Users\/ashur\/Developer\/mac-coda",
            "enabled": true,
            "updated": 1478802918
        },
        {
            "name": "dotfiles",
            "path": "\/Users\/ashur\/.dotfiles",
            "enabled": true,
            "updated": 1479161230
        },
        {
            "name": "hilarious\/ansible",
            "path": "\/Users\/ashur\/bots\/ansible-hilariousfixes",
            "enabled": false,
            "updated": 1477346198
        },
        {
            "name": "hilarious\/src",
            "path": "\/Users\/ashur\/bots\/hilariousfixes",
            "enabled": false,
            "updated": 1477346205
        },
        {
            "name": "cios\/src",
            "path": "\/Users\/ashur\/Developer\/ios-coda",
            "enabled": false,
            "updated": 1470864628
        },
        {
            "name": "prompt\/src",
            "path": "\/Users\/ashur\/Developer\/ios-prompt",
            "enabled": false,
            "updated": 1475087185
        },
        {
            "name": "tios\/src",
            "path": "\/Users\/ashur\/Developer\/ios-transmit",
            "enabled": false,
            "updated": 1478558177
        },
        {
            "name": "transmit\/src",
            "path": "\/Users\/ashur\/Developer\/mac-transmit",
            "enabled": true,
            "updated": 1478552705
        },
        {
            "name": "transmit\/qa",
            "path": "\/Users\/ashur\/QA\/mac-transmit",
            "enabled": true,
            "updated": 1478552706
        }
    ]
}
