{
    "projects": [
        {
            "name": "coda/qa",
            "path": "~/QA/mac-coda",
            "enabled": false
        },
        {
            "name": "coda/src",
            "path": "~/Developer/mac-coda",
            "enabled": false
        },
        {
            "name": "daily/zsh",
            "path": "~/.zsh-custom",
            "enabled": true
        },
        {
            "name": "transmit/qa",
            "path": "~/QA/mac-transmit",
            "enabled": false
        },
        {
            "name": "transmit/src",
            "path": "~/Developer/mac-transmit",
            "enabled": false
        },
        {
            "name": "web/library.panic.com",
            "path": "~/Sites/library.panic.com",
            "enabled": true
        },
        {
            "name": "web/panic.com",
            "path": "~/Sites/panic.com",
            "enabled": true
        }
    ]
}
