{
    "projects": [
        {
            "name": "coda\/qa",
            "path": "\/Users\/ashur\/QA\/mac-coda",
            "enabled": false,
            "updated": 1478802914
        },
        {
            "name": "coda\/src",
            "path": "\/Users\/ashur\/Developer\/mac-coda",
            "enabled": false,
            "updated": 1478802918
        },
        {
            "name": "daily\/zsh",
            "path": "\/Users\/Ashur\/.zsh-custom",
            "enabled": true,
            "updated": 1502572759
        },
        {
            "name": "dotfiles",
            "path": "\/Users\/ashur\/.dotfiles",
            "enabled": true,
            "updated": 1479161230
        },
        {
            "name": "transmit\/qa",
            "path": "\/Users\/ashur\/QA\/mac-transmit",
            "enabled": false,
            "updated": 1478552706
        },
        {
            "name": "transmit\/src",
            "path": "\/Users\/ashur\/Developer\/mac-transmit",
            "enabled": false,
            "updated": 1478552705
        }
    ]
}