{
	"projects": [
		{
			"name": "invalid\/file",
			"path": "\/Users\/ashur\/.pug",
			"enabled": true,
			"updated": 1479164828
		},
		{
			"name": "invalid\/missing",
			"path": "\/Users\/ashur\/QA\/pug\/missing",
			"enabled": true,
			"updated": 1479164828
		},
		{
			"name": "invalid\/no-git",
			"path": "\/Users\/ashur\/QA\/pug",
			"enabled": true,
			"updated": 1479164823
		},
		{
			"name": "pug\/disabled",
			"path": "\/Users\/ashur\/QA\/pug\/sub-2",
			"enabled": false,
			"updated": 1479164584
		},
		{
			"name": "pug\/submodules",
			"path": "\/Users\/ashur\/QA\/pug\/sub-1",
			"enabled": true,
			"updated": 1479164823
		}
	]
}
